# Email config
MAIL_FROM=no-reply@yourdomain.com
MAIL_FROM_NAME=Your Store Name
MAIL_HOST=127.0.0.1
MAIL_PORT=25

# Redis (ARQ)
REDIS_URL=redis://:password@127.0.0.1:6379/0

# App
FRONTEND_URL=https://yourdomain.com
ENABLE_EMAIL_TEST_ROUTES=false
